body {
    background-color: #aaa;
}

/* Upper navbar styling */

nav button .icon-bar {
    background-color: #aaa;
}

.navbar {
    background-color: black;
    color: #eee;
}

.navbar .nav a {
    font-size: 130%;
    color: #aaa;
}

.navbar .nav a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

#home {
    background-color: #333;
}

.navbar-brand {
    font-family: 'Alex Brush', cursive;
    font-size: 240%;
    color: #aaa;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #aaa;
}



#title {
    font-family: 'Exo 2', sans-serif;
    color: #400940;
    font-weight: bold;
    font-size: 330%;
}


h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}






