body {
    background-color: #aaa;
}

/* Upper navbar styling */


nav button .icon-bar {
    background-color: #aaa;
}

.navbar {
    background-color: black;
    color: #eee;
    width: 100%;
    margin-bottom: 0px;
}

.navbar .nav a {
    font-size: 130%;
    color: #aaa;
}

.navbar .nav a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.focus {
    background-color: #333;
}

.navbar-brand {
    font-family: 'Alex Brush', cursive;
    font-size: 240%;
    color: #aaa;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #aaa;
}


/* Home page styling */


#title {
    font-family: 'Exo 2', sans-serif;
    color: #400940;
    font-weight: bold;
    font-size: 330%;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

html, body {
    height: 100%;
}

.home-content {
    margin-top: -50px;
    padding-top: 50px;
    height: 100%;
}

.home-text {
    margin: 0 auto;
    padding-top: 50px;
    background-color: #e7e7e7;
    min-height: 100%;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .home-text {
    width: 750px;
    }
}

@media (min-width: 992px) {
    .home-text {
    width: 970px;
    }
}

@media (min-width: 1200px) {
    .home-text {
    width: 1170px;
    }
}

.footer {
    margin-top: -50px;
}

.copyright {
    font-size: 130%;
    margin-top: 12px;
    color: #aaa;
}

.main {
    margin-top: 45px;
}

.project {
    margin-bottom: 60px;
    margin-top: 60px;
}


hr {
    border-top: 1px solid black;
}

.about-project {
    margin-top: 10px;
    margin-bottom: 30px;
}

.project-photo {
    border-radius: 5px;
}

.project-descr {
    text-align: justify;
    font-size: 115%;
    line-height: 27px;
}

@media  (max-width: 660px) {
    .project-photo {
        width: 92%;
        height: 92%;
    }
}

@media (max-width: 990px) {
    .about-project {
        margin-top: 25px;
    }
    .sfo {
        margin-top: -50px;
    }
}


.project-link {
    color: black;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: none;
    color: #aaa;
}




